html {
  font-size: calc(100vw / 800 * 10);
}

html, body {
  margin: 0;
  padding: 0;
}

.grid {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.one {
  background-image: url("./imgs-grids/grid1.png");
}

.two {
  background-image: url("./imgs-grids/grid2.png");
}

.text {
  position: absolute;
  text-align: justify;
  margin: 0;
  font-size: 1.2rem;
}

.a {
  width: 39%;
  left: 27%;
  top: 26%;
}

.b {
  width: 33%;
  left: 66%;
  top: 66%;
}

.link {
  position: absolute;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.back {
  right: 14%;
  top: 20%;
}

.headline {
  position: fixed;
  bottom: 0%;
  margin: 0;
  font-size: 15rem;
  line-height: 0.9;
  font-weight: normal;
  letter-spacing: -22px;
  z-index: 1;
} 

.c {
  width: 14%;
  left: 62%;
  top: 0%;
}

.resource-link {
  right: 14%;
  top: 62%;
}

.image {
  position: absolute;
  right: 38.5%;
  bottom: 2px;
  height: 38.5%;
}