html, body {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  left: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

.circle {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  height: calc(100vh - 20px);
  padding: 10px;
}

.color-link {
  background-color: rgb(192, 192, 192);
  border-radius: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 8rem;
  text-decoration: none;
  line-height: 0.6;
  color: black;
}

.headline {
  font-size: 10rem;
  font-weight: bold;
  display: flex;
  line-height: 0.6;
}

.one, .three {
  justify-content: flex-end;
}

.one, .four {
  align-items: flex-end;
}

.a {
  background-color: rgb(141, 255, 131);
}

.overview {
  height: 100vh;
  background-color: rgb(141, 255, 131);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
}

