html, body {
  margin: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1px;
  height: 100vh;
}

.grid-item {
  text-align: center;
  /* background-color: #f0f0f0;
  border: 1px solid #ccc; */
}

.pool {
  background-color: rgb(207, 207, 207);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

nav {
  position: absolute;
  left: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

.link a {
  font-size: 1rem;
}

.collection {
  font-size: 1.8rem;
  line-height: 0.8;
  letter-spacing: -1px;
}
  
.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
}

.div2 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.div3 {
  grid-column-start: 4;
  grid-row-start: 4;
}

.div4 {
  grid-column-start: 3;
  grid-row-start: 6;
}

.div5 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.div6 {
  grid-column-start: 1;
  grid-row-start: 6;
}

.div7 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 9;
  grid-row-start: 2;
}

.div8 {
  grid-column-start: 8;
  grid-row-start: 2;
}

.div9 {
  grid-column-start: 10;
  grid-row-start: 1;
}

.div10 {
  grid-column-start: 9;
  grid-row-start: 5;
}

.div11 {
  grid-column-start: 11;
  grid-row-start: 4;
}

.div12 {
  grid-column: span 5 / span 5;
  grid-row: span 6 / span 6;
  grid-column-start: 4;
  grid-row-start: 5;
}

.headline {
  font-size: 6rem;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.div16 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 9;
  grid-row-start: 10;
}

.div17 {
  grid-column-start: 9;
  grid-row-start: 9;
}

.div18 {
  grid-column-start: 11;
  grid-row-start: 12;
}

.div19 {
  grid-column-start: 8;
  grid-row-start: 11;
}
      